<div class="p-3 d-flex navbar-lewagon">
  <%= link_to root_path do %>
    <div class="d-flex justify-content-start align-items-center">
      <%= image_tag 'https://image.flaticon.com/icons/png/128/2079/2079771.png', height: 50 %>
      <h2 class="mb-0 ml-3 btn-text-display">cineapp</h2>
    </div>
  <% end %>
  <div class="d-flex justify-content-end">
    <%= link_to root_path, class: "add-button d-flex justify-content-between align-items-center btn btn-primary rounded" do %>
      <i class="icon-margin fas fa-list"></i>
      <p class="mb-0 ml-2 fw-bold btn-text-display">My list</p>
    <% end %>
    <p> </p>
    <%= link_to new_list_path, class: "ml-3 add-button d-flex justify-content-between align-items-center btn btn-primary rounded" do %>
      <i class="icon-margin fas fa-plus"></i>
      <p class="mb-0 ml-2 fw-bold btn-text-display">New list</p>
    <% end %>
  </div>
</div>
