.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h2 {
  color: #570D29;
}

.add-button:hover {
  opacity: .7;
}


@media (min-width: 250px) and (max-width: 767px) {
  .btn-text-display {
    display: none;
  }
}
